<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found</title>
  <link rel="stylesheet" href="/CSS/main.css" class="ccs">
  <link rel="stylesheet" href="/CSS/product.css" class="css">

</head>

<body>
  <h1 style="color: crimson;text-align: center;font-size: 400%;margin: 3em 0 0 0">Not Found</h1>
  <center>
    <img src="https://httpstatusdogs.com/img/404.jpg">
  </center>
</body>

</html>